body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}

.bigtext {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 20px;
}

.wide {
  height:300px;
  background-image:url('./img/banner.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.footer {
  background-color: #EEEEEE !important;
  bottom: 0 !important;
  width: 100% !important;
}

.footer > div.container{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.container_css {
    min-height: 80vh;
}
